body {
    margin: auto;
    width: 1400px;
    height: 4048px;
    background-color: #f7f9fc;
    font-family: 'Lato', sans-serif;
}

.header {
    margin: auto;
    width: 956px;
    margin-top: 100px;
    background: url(../images/Search.png) no-repeat  940px;
}

.header:hover {
    margin: auto;
    width: 956px;
    margin-top: 100px;
    background: url(../images/hover.png) no-repeat  940px;
}

.header__title {
    font-size: 42px;
    line-height: 25px;
    color: #333333;
    font-weight: bold;
    text-align: left;
    display: inline-block;
    margin-right: 315px;
} 

.header__links {
    list-style: none; 
    display: inline-block;
}

.links__item {
    display: inline-block;
    margin-right: 43px;
    line-height: 25px;
    color: #333333;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    position: relative;
}

.links__item:after   {
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #5c6bc0;
    top:22px;
    right: calc(100% + 4px);
    transition: right 0.3s ease-in-out;
}

.links__item:hover:after {
   right:0;
}

.elements {
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    text-decoration: none;
}

.elements:active {
    color: #8792d1;  
 }

 .links__item:active:after {
    color: #8792d1;
    width: 0%;
}
  
.post{
    background-color: white;
    width: 953px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    margin: 55px auto 50px auto;
    position: relative;
}

.button {
  margin: auto;
    width: 88px;
    height: 33px;
    background-color: #5c6bc0;
    position: absolute;
    top: 20px;
    right: -10px;
    float: left;
    text-align: center;
}

.button:hover {
    width: 99px;
    height: 37px;
    background-color: #6b79c6;
}

.button:active {
    width: 99px;
    height: 37px;
    background-color: #5360ad;
}

.category {
    top:50%;
    font-size: 15px;
    display: inline-block;
    color: #ffffff;
    line-height: 0;
    font-weight: bold;
}

.date {
    margin: 55px 0 0 102px;
    font-size: 14px;
    color: #bdbdbd;
    font-weight: bold;
   display:inline-block;
}

.post__title {
    margin: 15px 0 0 100px;
    width: 715px;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 38px;
}

.post__text {
    margin:32px 0 0 102px;
    width: 750px;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
}

.read__more {
    margin: 46px 395px 75px 103px;
    font-size: 21px;
    color: #5c6bc0;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;  
    line-height: 25px;
    text-align: center;
}

.read__more:hover {
    margin: 26px 330px 59px 103px;
    padding:16px 34px;
    border: 2px solid #f1f1f1;
}

.read__more:active {
    padding:16px 34px;
    border: 2px solid #7c89cc;
}

.hashtag {
    list-style: none; 
    display: inline-block;
    text-decoration: none;
}

.hashtag__item {
    display: inline-block;
    font-size: 15px;
    line-height: 50px;
    color: #b2b2b2;
    text-align: right;
    margin-right: 15px;
    position: relative;
    text-decoration: none;
}
.item__element {
    font-size: 15px;
    line-height: 50px;
    color: #b2b2b2;
    text-decoration: none;
}

.item__element:hover {
    color: #8792d1;
}

.hashtag__item:after {
    color: #8792d1;
    content: '';
    position: absolute;
    left: 0;
    height: 3px;
    background-color: #8792d1;
    margin-left: 13px; 
    right: 100%;
    transition: right 0.3s ease-in-out;
    bottom:10px; 
}

.hashtag__item:hover:after {
   right:0;
}

.hashtag__item:active {
    color: #8792d1;
}

 .hashtag__item:active:after {
    color: #8792d1;
    width: 0%;
}

.post2__img {
    width: 953px;
    height: 531px;
}

.button2 {
    margin: auto;
    width: 102px;
    height: 32px;
    background-color: #5c6bc0;
    position: absolute;
    top: 550px;
    right: -12px;
    float: left;
    text-align: center;
}

  .button2:hover {
    width: 113px;
    height: 36px;
    background-color: #6b79c6;
 }

  .button2:active {
    width: 113px;
    height: 36px;
    background-color: #5360ad;
}

.date2 {
    margin: 52px 0 0 99px;
    font-size: 14px;
    color: #bdbdbd;
    font-weight: bold;
    line-height: 0;
}

.post2__title {
    margin: 24px 0 70px 97px;
    width: 715px;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 38px;
}

.subtitle {
    margin: -40px 0 4px 97px;
    width: 759px;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
    font-style: italic;
}

.post2__text {
    width: 757px;
    margin: 22px 0 0 97px;
    font-size: 17px;
    line-height: 30px;
    color: #000000;
}

.button3 {
    margin: auto;
    width: 95px;
    height: 33px;
    background-color: #5c6bc0;
    position: absolute;
    top:12px;
    right: -10px;
    float: left;
    text-align: center;
}

.button3:hover {
    width: 113px;
    height: 37px;
    background-color: #6b79c6;
}

.button3:active {
      width: 113px;
      height: 37px;
      background-color: #5360ad;
}

.date3 {
    margin: 59px 0 0 97px;
    font-size: 14px;
    color: #bdbdbd;
    font-weight: bold;
    line-height: 0;
    display: inline-block;
}

  .post3__title {
    margin: 17px 0 39px 97px;
    width: 740px;
    font-size: 40px;
    line-height: 50px;
    color: #000000;
    font-weight: bold;
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 34px;
}

.post3__img {
    margin-left: 84px;
    float: left;
    padding-right: 23px;
    padding-bottom: 30px;
}

.post3__text {
    width: 750px;
    font-size: 17px;
    line-height: 30px;
    color: #333333;
    margin-left: 103px;
    margin-top: -3px;
}

.post3__text__bold {
    font-weight: bold;
    color:#6573c3;
    border-bottom: 2px solid currentColor;
}

.quote {
    font-size: 20px;
    line-height: 30px;
    color: #8d8d8dd2;
    margin-left: 123px;
    margin-bottom: 30px;
    width: 720px;
    border-left-color:  #e4dfdf; 
    border-left-style: solid; 
    border-left-width: 4px; 
    padding: 0 17px; 
    margin: 0 0 30px 100px; 
}

.footer {
    width: 1401px;
    height: 532px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    background: url(../images/SearchWhite.png) no-repeat  940px 160px #5c6bc0;
}

.footer__title {
    padding-top: 68px;
    font-weight: bold;
    color: #4a569a;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 41px;
}

.footer__links {
    list-style: none; 
    display: inline-block;
    
}

.footer__links__item {
    display: inline-block;
    line-height: 25px;
    color: #333333;
    font-weight: bold; 
    text-transform: uppercase;
}

.footer__elements {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    text-decoration: none;  
    text-align: center;
    margin-right: 45px;
    color: #ffffff;
    margin-bottom: 22px;
}

.footer__text {
    width: 756px;
    margin:auto;
    font-size: 13px;
    line-height: 23px;
    color: #959ed6;
    text-align: center;
    border-top: 2px solid #5765b5;
    padding-top: 36px;
    border-bottom: 2px solid #5765b5;
    padding-bottom: 37px;
}

.footer__info {
    font-size: 14px;
    line-height: 30px;
    color: #959ed6;
    margin-top: 30px;
}

.footer__info__team {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
}
.footer__info__team:hover {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
}


.footer__icon {
    margin-top:30px; 
    width: 161px;
    height: 22px;
    margin-left:625px;
    background: url(../images/facebook.png) no-repeat 0px , url(../images/twitter.png) no-repeat 46px, url(../images/instagram.png) no-repeat 92px, url(../images/pinterest.png) no-repeat 139px ;
}

.footer__icon:hover {
    margin-top:30px; 
    width: 161px;
    height: 22px;
    margin-left:625px;
    background: url(../images/facebook.png) no-repeat 0px, url(../images/twitter.png) no-repeat 46px, url(../images/instagram.png) no-repeat 92px, url(../images/pinterest.png) no-repeat 139px ;
 
}



