body {
    margin: auto;
    font-family: 'Lato', sans-serif;
    background-color: #f7f9fc;
}

.header {
    margin: 0 auto;
    max-width: 960px;
    margin-top: 100px;
}

.nav__search {
    margin-top: 5px;
    background: url(../images/Search.png) no-repeat;
    height: 17px;
    width: 16px;
}

.nav__search:hover {
    margin-top: 5px;
    background: url(../images/hover.png) no-repeat;
    height: 17px;
    width: 16px;
}

.header__logo {
    display: inline-block;
} 

.nav {
    float: right;
}

.nav__list {
    list-style: none; 
    display: flex;
    flex: row-reverse;
    margin: 0px;
}

.nav__item {
    margin-right: 40px;
    line-height: 25px;
    color: #333333;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    position: relative;
}

.nav__item-active:after   {
    content: '';
    position: absolute;
    right: 0;
    height: 3px;
    background-color: #5c6bc0;
    top:22px;
    left: calc(100% + 4px);
    transition: left 0.3s ease-in-out;
}

.nav__item:hover:after {
   left:0;
}

.nav__link {
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    text-decoration: none;
}

.nav__link-disabled {
    pointer-events: none;
    color: #bdbdbd;
    cursor: default;
}

.nav__link-active:active {
    color: #8792d1;  
 }

 .nav__item-active:active:after {
    color: #8792d1;
    width: 0%;
}

.post {
    background-color: white;
    margin: 55px auto 50px auto;
    max-width: 952px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-bottom: 90px;
}
.post__title {
    padding: 73px 0 16px 95px;
    font-size: 40px;
    color: #000000;
    margin-bottom: 0px;
  
}

.post__text {
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    padding: 0 0 35px 95px;
    border-bottom: 2px solid #eeeeee;
    max-width: 752px;
}

.fieldset {
    border: 0;
    padding: 0 0 0 95px;
}

.fieldset__list {
    list-style: none;
    margin-top: 35px;
    padding: 0;
}

.fieldset__item {
    margin-bottom: 30px;
}

.fieldset__item-position {
    display: inline-block;
}

.fieldset__text {
    font-size: 20px;
    height: 55px;
    width: 332px;
    background-color: #f7f9fc;
    border: 0;
    margin: 0 30px 0 0;
    padding-left: 30px;
}

.fieldset__text-wide {
    max-width: 725px;
}

.post__button {
    margin-left: 100px;
    font-size: 24px;
    line-height: 25px;
    color: #5c6bc0;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.footer {
    max-width: 1401px;
    height: 532px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    background: url(../images/SearchWhite.png) no-repeat  940px 160px #5c6bc0;
}

.footer__title {
    padding-top: 68px;
    font-weight: bold;
    color: #4a569a;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 41px;
}

.footer__links {
    list-style: none; 
    display: inline-block;
    
}

.links__elements {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    text-decoration: none;  
    text-align: center;
    margin-right: 45px;
    color: #ffffff;
    margin-bottom: 22px;
}

.links__item {
    display: inline-block;
    line-height: 25px;
    color: #333333;
    font-weight: bold; 
    text-transform: uppercase;
    position: relative;
}

.links__elements:after {
    color: #8792d1;
    content: '';
    position: absolute;
    right: 0;
    height: 1px;
    background-color: #ffffff;
    left: 100%;
    transition: left 0.3s ease-in-out;
    border-bottom:1px; 
    top:50%;
    margin-right: 35px;

}

.links__elements:hover:after {
   left:0;
}

.links__elements-disabled {
    pointer-events: none;
    color: #bdbdbd;
    cursor: default; 
}

.footer__text {
    width: 756px;
    margin:auto;
    font-size: 13px;
    line-height: 23px;
    color: #959ed6;
    text-align: center;
    border-top: 2px solid #5765b5;
    padding-top: 36px;
    border-bottom: 2px solid #5765b5;
    padding-bottom: 37px;
}

.footer__info {
    font-size: 14px;
    line-height: 30px;
    color: #959ed6;
    margin-top: 30px;
}

.footer__info__team {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
}
.footer__info__team:hover {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
}

.footer__list {
    list-style: none; 
    display: flex;
    justify-content: center;
    margin-left: -40px;
}

.list__item {
    margin-top: 10px;
    margin-right:20px;
}

@media screen and (max-width: 480px) {
.header {
    background: url(../images/burger.png) no-repeat 395px 5px;
    color: #000000;
    margin-bottom: 20px;
}
    
.header__logo {
    display: inline-block;
    margin-right: 20px;
} 
    
.nav {
    display: none;
}
    
.post {
    width: calc(100% - 30px);
    margin-left: 8px;
}

.post__title {
    padding-left: 33px;
    padding-top: 55px;
    font-size: 32px;
    line-height: 42px;
    
}

.post__text {
    padding-left: 35px;
    margin-top: 0px;
    font-size: 18px;
    line-height: 35px;
    width: calc(100% - 100px);
}

.fieldset {
    padding-left: 35px;
}

.fieldset__list {
    margin-top: 30px;
}

.fieldset__text {
   
    height: 57px;
    width: 315px;
    margin: 0 30px 0 0;
}

.post__button {
    margin-left: 30px;
}

.footer {
    margin-top: 90px;
    width: 100%;
    height: 585px;
}  
    
.footer__text {
    width: calc(100% - 80px);
}
    
.footer__links {
    margin-top: -30px;
    text-align: center;
    list-style: none;
    margin-left: 0;
    background-image: none;
}
    
.links__elements {
    margin: 38px 10px;
}
    
@media screen and (max-width: 320px) {
.header {
    background: url(../images/burger320.png) no-repeat 250px 5px;
    color: #000000;
}
        
.header__logo {
    display: inline-block;
    margin-right: 20px;
} 
        
.nav {
    display: none;
}

.post {
    width: calc(100% - 30px);
    margin-left: 8px;
}

.post__title {
    padding: 35px 0 5px 25px;
    font-size: 22px;
    line-height: 42px;
    
}

.post__text {
    padding-left: 25px;
    padding-top: 0px;
    font-size: 15px;
    line-height: 29px;
    width: calc(100% - 50px);
}

.fieldset {
    padding-left: 25px;
}

.fieldset__list {
    margin-top: 15px;
}

.fieldset__item {
    margin-bottom: 20px;
}
.fieldset__text {
   font-size: 15px;
    height: 49px;
    width: 185px;
    
}

.post__button {
    margin-left: 25px;
    
}
.footer {
    width: 100%;
    height: 754px;
    margin-top: 90px;
}  
        
.footer__text {
    width: calc(100% - 80px);
}
    
    .footer__links {
    text-align: center;
    list-style: none;
    margin-left: 0;
    margin-top: 24px;
    padding: 0px;
    background-image: none;
    display: flex;
    flex-direction:column;
}
        
.links__elements {
    margin: 7px 10px;
}
}
}