body {
    margin: 0;
}

.header, main {
    width: 1062px;
    margin: 68px auto 0 auto;
    font-size: 0;
}

.header__mimimo {
    font-size: 30px;
    font-family: 'Inconsolata', monospace;
    font-weight: normal;
    text-transform: uppercase;
    color: #434244;
    margin: 0;
    display: inline;
    padding-right: 245px;
    letter-spacing: 7px;
}

.section {
    list-style: none;
}

.sections {
display: inline-block;
margin-right: 10px;
font-family: Arial;
font-size: 14px;
color: #626262;

}

.header__section {
   padding: 0;
line-height: 24px;
}

.header__mimimo {
  
    font-size: 23px;
}

.section__lifestyle {
    padding-left: 100px;
}

.section__photodiary {
    padding-left: 120px;
}

.section__music {
    padding-left: 100px;
}

.section__travel {
    padding-left: 50px;
}

.main__image {
    margin: -5px;
    width: 1062px;
    height: 574px;
}
.main__left {
    padding: 80px 0 240px 100px;
    list-style-type: none;
    float: left;
display: block;
width: 740px;
}
.section__photodiary {
font-family: Arial;
font-size: 14px;
color: #626262;
}

.headline__theperfect {
margin: 30px 0 0 119px ;
font-size: 29px;
font-family: "Arial";
font-weight: bold;
color: #626262;
}

.left__text {
    margin: 38px 0 0 119px ;
    width: 657px;
    font-size: 14px;
    line-height: 24px;
    color: #626262;
    font-family: "Arial";
}

.main_image4 {
    margin: 0 0 0 119px ;
}
.main__right {

    float: right;
display: block;
width: 270px;
padding: 98px 150px 0 0;
}

.personal-info__title {
    font-size: 21px;
    color: #626262;
    font-family: "Arial";
}

.right__text {
    font-size: 11px;
    line-height: 20px;
    color: #626262;
    font-family: "Arial";
}

.topposts {
    font-size: 14px;
    color: #626262;
    font-family: "Arial";
}

.posts_comm {
    font-size: 12px;
    color: #b4ad9e;
    font-family: "Arial";
}

.footer {
    clear: left;
    height: 98px;
    width: 1201px;
    background-color: #efefef;
}

.footer__section {
    list-style: none;
    display: inline-block;
    padding:0 0 0 220px;
}

.foot_sec {
height: 42px;
display: inline-block;
    padding-right: 21px;
    font-size: 14px;
    color: black;
    font-family: "Arial"; 
}