{{#> layout/layout}}
 <article class="post">
            <h2 class="post__title"> Contact Us</h2>
            <p class="post__text">Nam in maximus arcu, ac aliquam tellus. Donec vestibulum ipsum nunc, at placerat ante
                posuere non. Integer at dui a lacus suscipit elementum id non massa. Pellentesque habitant morbi
                tristique senectus et netus et malesuada fames ac turpis egestas. Nunc eu neque eros. Ut eu quam justo.
            </p>
            <form>
                <fieldset class="fieldset">
                    <ul class="fieldset__list">
                        <li class="fieldset__item fieldset__item-position">
                            <input class="fieldset__text " type="text" name="name" placeholder="Your Name">
                        </li>
                        <li class="fieldset__item fieldset__item-position">
                        <input class="fieldset__text" type="email" name="email-address" placeholder="Email">
                        </li>
                        <li class="fieldset__item ">
                            <input class="fieldset__text fieldset__text-wide" type="text" placeholder="Subject">
                        </li>
                        <li class="fieldset__item">
                            <textarea class="fieldset__text fieldset__text-wide" type="text" placeholder="Your Message"></textarea>
                        </li>
                    </ul>
                </fieldset>
            </form>
            <a class="post__button" href="#">send message</a>
        </article>
{{/layout/layout}}
