<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>homework</title>
    <link rel="stylesheet" href="./main.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
{{> header/header}}

{{> @partial-block}}

{{> footer/footer}}
</body>
</html>
