.footer {
    max-width: 1401px;
    height: 532px;
    margin: auto;
    margin-top: 120px;
    text-align: center;
    background: url(../images/SearchWhite.png) no-repeat  940px 160px #5c6bc0;
}

.footer__title {
    padding-top: 68px;
    font-weight: bold;
    color: #4a569a;
    font-size: 36px;
    line-height: 30px;
    margin-bottom: 41px;
}

.footer__links {
    list-style: none; 
    display: inline-block;
    
}

.links__elements {
    display: inline-block;
    font-size: 16px;
    line-height: 25px;
    color: #333333;
    text-decoration: none;  
    text-align: center;
    margin-right: 45px;
    color: #ffffff;
    margin-bottom: 22px;
}

.links__item {
    display: inline-block;
    line-height: 25px;
    color: #333333;
    font-weight: bold; 
    text-transform: uppercase;
    position: relative;
}

.links__elements:after {
    color: #8792d1;
    content: '';
    position: absolute;
    right: 0;
    height: 1px;
    background-color: #ffffff;
    left: 100%;
    transition: left 0.3s ease-in-out;
    border-bottom:1px; 
    top:50%;
    margin-right: 35px;

}

.links__elements:hover:after {
   left:0;
}

.links__elements-disabled {
    pointer-events: none;
    color: #bdbdbd;
    cursor: default; 
}

.footer__text {
    width: 756px;
    margin:auto;
    font-size: 13px;
    line-height: 23px;
    color: #959ed6;
    text-align: center;
    border-top: 2px solid #5765b5;
    padding-top: 36px;
    border-bottom: 2px solid #5765b5;
    padding-bottom: 37px;
}

.footer__info {
    font-size: 14px;
    line-height: 30px;
    color: #959ed6;
    margin-top: 30px;
}

.footer__info__team {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
}
.footer__info__team:hover {
    font-size: 14px;
    line-height: 30px;
    color: #ffffff;
    font-weight: bold;
    border-bottom: 1px solid #eeeeee;
}

.footer__list {
    list-style: none; 
    display: flex;
    justify-content: center;
    margin-left: -40px;
}

.list__item {
    margin-top: 10px;
    margin-right:20px;
}
