    <header class="header">
        <a href="#"><img class="header__logo" src="../images/logo.jpeg" /></a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link nav__link-disabled" href="index.html">home</a>
                </li>
                <li class="nav__item nav__item-active">
                    <a class="nav__link nav__link-active" href="#">about</a>
                </li>
                <li class="nav__item nav__item-active">
                    <a class="nav__link nav__link-active" href="#">archive</a>
                </li>
                <li class="nav__item nav__item-active">
                    <a class="nav__link nav__link-active" href="contact.html">contact</a>
                </li>
                <div class="nav__search"></div>
            </ul>

        </nav>
    </header>
