 <footer class="footer">
            <h1 class="footer__title">Palo Alto</h1>
            <ul class="footer__links">
                <li class="links__item ">
                    <a class="links__elements links__elements-disabled" href="#">home</a>
                </li>
                <li class="links__item">
                    <a class="links__elements" href="#">about</a>
                </li>
                <li class="links__item">
                    <a class="links__elements" href="#">archive</a>
                </li>
                <li class="links__item">
                    <a class="links__elements" href="#">contact</a>
                </li>
            </ul>
            <p class="footer__text">Nunc placerat dolor at lectus hendrerit dignissim. Ut tortor sem, consectetur
                nec hendrerit ut, ullamcorper ac odio. Donec viverra ligula at quam tincidunt imperdiet. Nulla
                mattis tincidunt auctor.</p>
            <p class="footer__info">© 2015 - Palo Alto. All Rights Reserved. Designed & Developed by <span class="footer__info__team">PixelBuddha
                    Team</span></p>
            <div class="footer__icon">
                <ul class="footer__list">
                    <li class="list__item ">
                        <img src="../images/facebook.png" />
                    </li>
                    <li class="list__item ">
                        <img src="../images/twitter.png" />
                    </li>
                    <li class="list__item ">
                    <img src="../images/instagram.png" />
                    </li>
                    <li class="list__item ">
                    <img src="../images/pinterest.png" />
                    </li>
                </ul>
            </div>

        </footer>
