.post {
    background-color: white;
    margin: 55px auto 50px auto;
    max-width: 952px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-bottom: 90px;
}
.post__title {
    padding: 73px 0 16px 95px;
    font-size: 40px;
    color: #000000;
    margin-bottom: 0px;
  
}

.post__text {
    font-size: 17px;
    line-height: 30px;
    color: #000000;
    padding: 0 0 35px 95px;
    border-bottom: 2px solid #eeeeee;
    max-width: 752px;
}

.fieldset {
    border: 0;
    padding: 0 0 0 95px;
}

.fieldset__list {
    list-style: none;
    margin-top: 35px;
    padding: 0;
}

.fieldset__item {
    margin-bottom: 30px;
}

.fieldset__item-position {
    display: inline-block;
}

.fieldset__text {
    font-size: 20px;
    height: 55px;
    width: 332px;
    background-color: #f7f9fc;
    border: 0;
    margin: 0 30px 0 0;
    padding-left: 30px;
}

.fieldset__text-wide {
    max-width: 725px;
}

.post__button {
    margin-left: 100px;
    font-size: 24px;
    line-height: 25px;
    color: #5c6bc0;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}
